# Do not include credentials created at runtime.
/store/
/store.*/
credentials.json
credentials.json.*

# Also do not include the media directory.
/media/
/media.*/

# ignore backups
README.md.*
matrix-commander.py.*
/matrix_commander/matrix-commander.py.*
/matrix_commander/matrix_commander.py.*
setup.cfg.*

# ignore help file
help.txt
help.txt.*

# ignore soft link
mc
m-c
m_c

# ignore certain scripts
/scripts/prepare-commit.sh
/scripts/create-help.sh

# ignore cache
/matrix_commander/__pycache__/

# PyPi build files
# leave /dist because it is used by Github PyPi-Publish Workflow
versionnumber.txt
/matrix_commander.egg-info/

# ignore to-do list
todo.txt
todo.txt.*
